.orders_history_card {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, 1fr) max-content;
  grid-template-areas:
    'number number date date'
    'name name name name'
    'ingredients_images ingredients_images ingredients_images sum';
  align-items: center;
  row-gap: calc(var(--offset-base-size) * 6);
  background: #1c1c21;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 40%);
}

.number {
  grid-area: number;
}

.date {
  grid-area: date;
  text-align: right;
}

.name {
  grid-area: name;
}

.ingredients_images {
  display: flex;
  grid-area: ingredients_images;
}

.ingredient_image {
  width: 64px;
  height: 64px;
  padding: 2px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;

  &:not(:first-child) {
    margin-left: -16px;
  }
}

.ingredient_image img {
  width: 100%;
  height: 100%;
  background: #131316; /* если нужен фон */
  border-radius: 50%;
  object-fit: contain;
}

.sum {
  display: flex;
  grid-area: sum;
  align-items: center;
  text-align: right;
  column-gap: calc(var(--offset-base-size) * 2);
}
