.numbers_list {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: column;
  gap: calc(var(--offset-base-size) * 2);
  padding: 0;
  list-style: none;
}

.done {
  color: #0cc;
}

.pending {
  color: #fff;
}
