.feed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  column-gap: calc(var(--offset-base-size) * 15);
}

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
