.ingredients_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(var(--offset-base-size) * 4);
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.price {
  display: flex;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 2);
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}
