.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: relative;
  z-index: 20;
  width: 100%;
  max-width: 720px;
  min-height: 200px;
  background-color: #1c1c21;
  border-radius: 40px;
}

.close_button {
  position: absolute;
  top: calc(var(--offset-base-size) * 12);
  right: calc(var(--offset-base-size) * 10);
  padding: 0;
  background: none;
  border: 0;
  outline: none;
}
