.order_summary {
  position: absolute;
  bottom: calc(var(--offset-base-size) * 10);
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 536px;
  height: calc(var(--offset-base-size) * 16);
  column-gap: calc(var(--offset-base-size) * 10);
}

.total {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: calc(var(--offset-base-size) * 2);
}

.icon {
  width: 33px;
  height: auto;
}
